.addTask {
    width: 25%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
  }

  .addTaskForm {
    margin-top: 30px;
  }

  .addTaskForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .addTaskForm .inputGroup label {
    margin-bottom: 5px;
  }
  
  .addTaskForm .inputGroup input {
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
  }

  .addTaskForm .inputGroup button {
    border: 0;
    outline: 0;
    background-color: purple;
    color: white;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    margin-top: 20px;
  }

  .addTask h3 {
    margin-top: 10px;
  }


